.anchopixeles {
    width: 200px;
    background-color: aqua;
    border: 3px solid green;
}
.anchoporcentaje {
    margin-left: 10px;
    width: 10%;
    background-color: rgb(115, 128, 128);
    border: 3px solid black;
}
.imagen1{
    width: 100px;
    height: 30%;
    background-image: url("../imagenes/LogoCompleto.png");
    cursor: pointer; 
    background-repeat: no-repeat;
    
}

body {
    text-align: center;
}
.caja_pront {
    
    background-color: beige;
    width: 100%;
    border: 1px solid black;
     
}